.app-logo {
  align-items: center;
  display: flex;

  h1 {
    color: #183b3d;
    font-size: 1.55rem;
    letter-spacing: -0.04em;
    margin: 0;

    span { color: #d56b43; }
  }
}
@import url('https://fonts.googleapis.com/css2?family=Dai+Banna+SIL:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

.app-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  h1 {
    font-family: 'Dai Banna SIL', serif;
    font-size: 3rem;
    letter-spacing: -0.04em;
    margin: 0px;
    color: #183b3d;

    span { color: #d56b43; }

    @media (max-width: 400px) {
      font-size: 1.35rem;
    }
  }
}
